*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fffaf5;
    color:#4b443d;
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

/* SCROLL FIX */
section{
    scroll-margin-top:120px;
}

footer{
    scroll-margin-top:120px;
}

/* TOPBAR */
.topbar{
    background:#e4c7a1;
    color:#4b443d;
    padding:10px 80px;
    display:flex;
    justify-content:space-between;
    font-size:13px;
}

/* NAVBAR */
.navbar{
    width:100%;
    height:90px;
    background:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.03);
}

/* LOGO */
.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo i{
    font-size:24px;
}

.logo h2{
    font-size:24px;
    font-weight:700;
    color:#4b443d;
}

/* MENU */
nav ul{
    display:flex;
    align-items:center;
    gap:40px;
    list-style:none;
}

nav ul li a{
    color:#4b443d;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#d9b78c;
}

/* BUTTON */
.nav-btn button{
    border:none;
    background:#e4c7a1;
    color:#4b443d;
    padding:14px 28px;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.nav-btn button:hover{
    transform:translateY(-3px);
    background:#d9b78c;
}

/* HERO */
.hero{
    width:90%;
    margin:90px auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;
}

.hero-text{
    flex:1;
}

.hero-text h3{
    font-family:'Playfair Display',serif;
    font-size:52px;
    color:#d9b78c;
    font-style:italic;
}

.hero-text h1{
    font-size:58px;
    line-height:65px;
    margin:20px 0;
    font-weight:700;
    color:#444;
}

.hero-text p{
    color:#8a8178;
    margin-bottom:30px;
    max-width:500px;
}

.hero-text button{
    padding:15px 35px;
    border:none;
    background:#e4c7a1;
    color:#4b443d;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.hero-text button:hover{
    transform:translateY(-3px);
    background:#d9b78c;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:100%;
    max-width:560px;
    border-radius:35px;
    object-fit:cover;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

/* ABOUT */
.about{
    width:90%;
    margin:100px auto;
    background:#ffffff;
    border-radius:30px;
    padding:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    box-shadow:0 4px 10px rgba(0,0,0,0.03);
}

.about-text{
    flex:1;
}

.about-text h2{
    font-size:32px;
    margin-bottom:20px;
    color:#4b443d;
}

.about-text p{
    font-size:17px;
    color:#8a8178;
    line-height:32px;
    max-width:600px;
}

.about-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.about-image img{
    width:100%;
    max-width:450px;
    border-radius:25px;
    object-fit:cover;
}

/* CATEGORY */
.categories{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}

.card{
    background:#ffffff;
    padding:20px;
    border-radius:22px;
    text-align:center;
    transition:.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.03);
}

.card.active{
    background:#f7eee4;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:140px;
    object-fit:cover;
    border-radius:15px;
}

.card h4{
    margin-top:15px;
    color:#4b443d;
}

.card p{
    color:#8a8178;
    font-size:14px;
}

/* TRENDING */
.trending{
    width:90%;
    margin:100px auto;
    text-align:center;
}

.trending h2{
    font-size:42px;
    color:#4b443d;
}

.tabs{
    margin:30px 0;
    display:flex;
    justify-content:center;
    gap:15px;
}

.tabs button{
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    background:#f7eee4;
    color:#4b443d;
    transition:.3s;
}

.tabs .active-btn{
    background:#e4c7a1;
}

.products{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product{
    background:#ffffff;
    padding:20px;
    border-radius:22px;
    transition:.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.03);
    cursor:pointer;
}

.product:hover{
    transform:translateY(-5px);
}

.product img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:15px;
}

.product h5{
    margin-top:15px;
    font-size:17px;
    color:#4b443d;
}

.product span{
    color:#d9b78c;
    font-weight:600;
}

/* BANNER */
.banner{
    width:90%;
    margin:90px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.banner-box{
    height:260px;
    border-radius:30px;
    padding:40px;
    display:flex;
    align-items:center;
}

.left-banner{
    background:#f3dfc8;
}

.right-banner{
    background:#f7eee4;
}

.banner-text h4{
    font-family:'Playfair Display',serif;
    font-size:30px;
    font-style:italic;
    color:#d9b78c;
}

.banner-text h2{
    font-size:48px;
    color:#4b443d;
}

.banner-text button{
    margin-top:20px;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    background:white;
    color:#4b443d;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.banner-text button:hover{
    transform:translateY(-3px);
}

/* FEATURES */
.features{
    width:90%;
    margin:90px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.feature{
    background:#ffffff;
    padding:35px;
    text-align:center;
    border-radius:22px;
    box-shadow:0 4px 10px rgba(0,0,0,0.03);
    transition:.3s;
}

.feature:hover{
    transform:translateY(-5px);
}

.feature i{
    font-size:38px;
    color:#d9b78c;
    margin-bottom:20px;
}

.feature h4{
    color:#4b443d;
}

.feature p{
    color:#8a8178;
    margin-top:10px;
}

/* TESTIMONIAL */
.testimonial{
    width:90%;
    margin:100px auto;
}

.testimonial-title{
    text-align:center;
    margin-bottom:50px;
}

.testimonial-title h2{
    font-size:42px;
    margin-bottom:10px;
    color:#4b443d;
}

.testimonial-title p{
    color:#8a8178;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.testimonial-card{
    background:#ffffff;
    padding:35px;
    border-radius:25px;
    box-shadow:0 4px 10px rgba(0,0,0,0.03);
    transition:.3s;
}

.testimonial-card:hover{
    transform:translateY(-5px);
}

.stars{
    color:#e4c7a1;
    margin-bottom:20px;
}

.testimonial-card p{
    color:#8a8178;
    line-height:28px;
    margin-bottom:25px;
}

.customer{
    display:flex;
    align-items:center;
    gap:15px;
}

.customer img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.customer h4{
    font-size:18px;
    color:#4b443d;
}

.customer span{
    color:#8a8178;
    font-size:14px;
}

/* FOOTER */
.footer{
    background:#e4c7a1;
    color:#4b443d;
    margin-top:80px;
    padding-top:70px;
}

.footer-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.5fr;
    gap:40px;
    padding-bottom:50px;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.footer-logo i{
    font-size:35px;
    color:#4b443d;
}

.footer-logo h2{
    font-size:30px;
}

.footer-logo p{
    font-size:11px;
    letter-spacing:2px;
    color:#6e6257;
}

.footer-desc{
    color:#6e6257;
    line-height:28px;
    margin-bottom:25px;
}

.footer-social{
    display:flex;
    gap:15px;
}

.footer-social i{
    width:40px;
    height:40px;
    background:#fffaf5;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    cursor:pointer;
    transition:.3s;
}

.footer-social i:hover{
    background:white;
    color:#d9b78c;
}

.footer-box h3{
    margin-bottom:25px;
    font-size:22px;
}

.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin-bottom:15px;
    color:#6e6257;
    cursor:pointer;
    transition:.3s;
}

.footer-box ul li:hover{
    color:#4b443d;
    transform:translateX(5px);
}

.footer-box p{
    color:#6e6257;
    margin-bottom:18px;
    line-height:28px;
}

.footer-box p i{
    color:#4b443d;
    margin-right:10px;
}

.footer-bottom{
    border-top:1px solid rgba(0,0,0,0.05);
    text-align:center;
    padding:25px 10px;
    color:#6e6257;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:1100px){

    .products{
        grid-template-columns:repeat(2,1fr);
    }

    .categories{
        grid-template-columns:repeat(3,1fr);
    }

    .features{
        grid-template-columns:repeat(2,1fr);
    }

    .footer-container{
        grid-template-columns:1fr 1fr;
    }

    .hero,
    .about{
        flex-direction:column;
        text-align:center;
    }
}

@media(max-width:768px){

    nav{
        display:none;
    }

    .products{
        grid-template-columns:1fr;
    }

    .categories{
        grid-template-columns:repeat(2,1fr);
    }

    .features{
        grid-template-columns:1fr;
    }

    .banner{
        grid-template-columns:1fr;
    }

    .testimonial-container{
        grid-template-columns:1fr;
    }

    .footer-container{
        grid-template-columns:1fr;
    }

    .footer{
        text-align:center;
    }

    .footer-logo{
        justify-content:center;
    }

    .footer-social{
        justify-content:center;
    }

    .hero,
    .about{
        flex-direction:column;
        text-align:center;
    }

    .hero-text h1{
        font-size:60px;
        line-height:65px;
    }

    .hero-image img{
        width:100%;
    }

    .topbar{
        padding:10px 20px;
        flex-direction:column;
        gap:5px;
        text-align:center;
    }

    .navbar{
        padding:20px;
    }

    .about{
        padding:40px 25px;
    }
}